language: node_js
node_js:
  - "12"
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
  - export PATH=$HOME/.yarn/bin:$PATH
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn test:CI
  - yarn build
  - node ./lib/zip.js
